h1 {
    color: red;
}
.container {
    border: 2px solid green;
    background-color: rebeccapurple;
}
.param {
    border: 2px solid red;
    color: green;
    background-color: rebeccapurple;
}
.samplePictures {
    border: 2px solid red;
    color: green;
    width: 200px;
    height: 200px;
}

.formSection {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;

}

.inputDiv {
    width: 15rem;
    height: 2rem;

}

.Submitbt {
    padding: 1rem;
    border: 2px solid red;
    background-color: blue;
    width: 15rem;
    height: 2rem;
}